/* Add your own CSS code below */
span {
  color: #c85308;
}
@media only screen and (min-width: 992px) {
  .hero__title {
    font-size: 3rem;
  }
}
@media only screen and (min-width: 767px) {
  .site-header {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
  }
}
@media only screen and (min-width: 767px) {
  .views {
    display: flex;
    flex-direction: row;
    align-items: center;
  }

  .views__all {
    margin-left: auto;
  }
  .view-list__item {
    margin: 10px;
  }
}
.main-article {
  max-width: 50em;
  display: flex;
  flex-direction: column;
  align-items: center;
  line-height: 25px;
}
.site-content {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.main-nav__list {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
